<h1>ORDER SOME SHOOS</h1>

<form action="/shoos" method="post">
  <label for="first_name">FIRST NAME:</label> 
  <input type="text" name="first_name">
  <label for="last_name">LAST NAME:</label>
  <input type="text" name="last_name">
  <label for="address">ADDRESS</label>
  <input type="text" name="address">
  <label for="size">SELECT SIZE</label> 
  <select name="size">
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
  </select>

  <label for="quantity">QUANTITY</label>
  <input type="number" name="quantity">

  <input type="submit" name="PLACE ORDER">

</form>